<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{%block title%}HackerCred{%endblock%}</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="icon" href="/static/favicon.ico" />
		<script type="text/javascript" 
		  src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
		</script>
		<script type="text/javascript" src="/static/javascript.js">
		</script>
		{% block head_include %}
		{% endblock %}
		{% if not debug %}
			<script type="text/javascript">
	
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-19659565-5']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>
		{% endif %}
	</head>
	<body>
		<!-- Feedback modal -->
		<div style="position: fixed; top: 125px; left: 50%;">
			<div id="feedback" class="modal dismissable" style="display: none; position: absolute; top: 0px; left: -281px; margin: 0 auto; z-index: 1">
				<div class="modal-header">
					<h3>Feedback</h3>
					<a href="#" class="close">&#x00D7;</a>
				</div>
				<div class="modal-body">
					<p>Please send feedback to: <a href="mailto:feedback@hackercred.com?subject=Feedback">feedback@hackercred.com</a></p>
				</div>
				<div class="modal-footer">
					<a href="#" class="btn secondary">Ok</a>
				</div>
			</div>
		</div>
		
		<div class="topbar-wrapper" style="z-index: 5;">
			<div class="topbar">
				<div class="fill">
					<div class="container">
						<h3><a href="{% url app.views.index %}">HackerCred</a></h3>
						<ul>
							<li><a href="{% url app.views.index %}">Home</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url app.views.view_user user.id %}">Profile</a></li>
							{% endif %}
							<li><a href="#" id="launch-feedback" class="launcher">Feedback</a></li>
						</ul>
							{% if not user.is_authenticated %}
								<form style="float: right;" action="{% url django.contrib.auth.views.login %}" method="POST">
									{% csrf_token %}
									<ul>
										<li><input type="text" placeholder="Email" name="email" style="width:150px; margin-right: 5px;"></li>
										<li><input type="password" placeholder="Password" name="password" style="width: 100px; margin-right: 5px;"></li>
										<li><input type="submit" id="login-button" value="Log In" class="btn primary" style="width: auto; height: 28px;"/></li>
									</ul>
									<input type="hidden" name="next" value="/" />
								</form>
							{% endif %}
						{% if user.is_authenticated %}
							<ul class="nav secondary-nav">
								<li class="menu">
									<a href="#" class="menu">Account</a>
									<ul class="menu-dropdown">
										<li>
											<a href='{% url app.views.view_user user.id %}'>{{user.username}}</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="{% url app.views.edit_profile %}">Profile</a>
										</li>
										<li>
											<a href='{% url app.views.logout %}'>Logout</a>
										</li>
									</ul>
								</li>
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
			<div style="clear: both;">
				&nbsp;
			</div>
		</div>
	</body>
</html>
