<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{%block title%}HackerCred{%endblock%}</title>
		<link rel="stylesheet" href="/static/style.css" />
		{% block head_include %}
		{% endblock %}
		{% if not debug %} <!-- google analytics here -->
		{% endif %}
	</head>
	<body>
		<div id="headerbg">
			<div id="header">
				<div id="logo">
					<a href ="{% url app.views.index %}">HackerCred</a>
				</div>
				<div id="login">
					{% if user.is_authenticated %} <a href='{% url app.views.view_user user.id %}'>{{user.username}}</a> (<a href='{% url app.views.logout %}'>logout</a>)
					{% else %} <a href='{% url django.contrib.auth.views.login %}'>login</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="content">
			{% block content %}{% endblock %}
			<div style="clear: both;">
				&nbsp;
			</div>
		</div>
	</body>
</html>
