{% extends "base.html" %}
{% block content %}

<div id="sidebar">
	<img src="/static/no_profile_pic.png" />
	<ul>
		{% for link in viewed_user.links.all %}
			<li class="deleteable">
				<a href='{{link.url}}' style="display: inline;">{{link.display_type}}</a>
				{% if edit_mode %}
					<a href="#{% url app.views.delete_link link.id %}" class="delete" style="display: inline;">&#x00D7;</a>
				{% endif %}
			</li>
		{% endfor %}
		{% if edit_mode %}
			<a id="launch-add-link" class="launcher btn primary hideable" style="margin-top: 10px;" href="#">New Link</a>
			<div id="add-link" class="modal" style="display: none; position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
				<div class="modal-header">
					<h3>Add Link</h3>
					<a href="#" class="close">&#x00D7;</a>
				</div>
				<form action="{% url app.views.create_link %}" method="POST">
					<div class="modal-body">
						{% csrf_token %}
						{{add_link_form.as_p}}
					</div>
					<div class="modal-footer">
						<input type='submit' value="Add" class="btn primary">
					</div>
				</form>
			</div>
		{% endif %}
	</ul>
</div>
<div id="main">
	<div id="basic-info">
		<h5>{{viewed_user.get_full_name}}
			{% if own_profile and not edit_mode %}
				<a href="{% url app.views.edit_profile %}">Edit</a>
			{% endif %}
		</h5>
	</div>
	<div>
		<div id="creds" class="left">
			<h4>Newsfeed</h4>
			{% if comments.count == 0 %}
				<p>
					No activity yet.
				</p>
			{% endif %}
			{% for cred in comments %}
				<div class="cred">
					<div><a href="{% url app.views.view_user cred.added_by.id %}">{{cred.added_by.get_full_name}}</a></div>
					<div class="comment-text">{{cred.text}}</div>
					<div class="date">on {{cred.created_at|date:"M j, Y"}}</div>
				</div>
			{% endfor %}
			{% if not edit_mode %}
				<form action="{% url app.views.create_comment %}" method="POST">
					{% csrf_token %}
					<div>
						{% for field in add_comment_form %}
							{{field.errors}}
							{{field}}
						{% endfor %}
					</div>
					<div style="float: right; margin-top: 4px;">
						<input type='submit' value="Comment">
					</div>
				</form>
			{% endif %}
		</div>
		<div id="projects" class="right">
			<h4>Projects</h4>
			{% if projects.count == 0 %}
				<p>
					{{viewed_user.get_full_name}} has not listed any projects yet.
				</p>
			{% endif %}
			{% for cred in projects %}
				<div class="project deleteable">
					<div class="header">
						{% if edit_mode %}
							<div style="float: right;">
								<a href="#{% url app.views.delete_project cred.id %}" class="delete">&#x00D7;</a>
							</div>
						{% endif %}
						<div><a href="{{cred.external_url}}">{{cred.project_name}}</a></div>
					</div>
					<div class="body">
						<p>{{cred.text}}</p>
						<div class="date">added on {{cred.created_at|date:"M j, Y"}}</div>
					</div>
				</div>
			{% endfor %}
			{% if edit_mode %}
				<a id="launch-add-project" class="launcher btn primary hideable" style="margin-top: 10px;" href="#">Add Project</a>
				<div style="position: fixed; top: 125px; left: 50%;">
					<div id="add-project" class="modal" style="display: none; position: absolute; top: 0px; left: -281px; margin: 0 auto; z-index: 1">
						<div class="modal-header">
							<h3>Add Project</h3>
							<a href="#" class="close">&#x00D7;</a>
						</div>
						<form action="{% url app.views.create_project %}" method="POST">
							<div class="modal-body">
								{% csrf_token %}
								{{add_project_form.as_p}}
							</div>
							<div class="modal-footer">
								<input type='submit' value="Add" class="btn primary">
							</div>
						</form>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}