{% extends "base.html" %}

{% block content %}
<div style="padding-top: 20px;">
	{% if form.errors %}
	<p>
		Your username and password didn't match. Please try again.
	</p>
	{% endif %}
	{% if next != "" %} <!-- This is kind of a hack, to check if the user clicked "login" directly -->
	<p>
		<font color='red'> Please login to do that!
			<br />
		</font>
	</p>
	{% endif %}
	<div style="width: 360px">
		<form method="post" action="{% url django.contrib.auth.views.login %}">
			{% csrf_token %}
				<p>
					{{ form.email.label_tag }}:
					{{ form.email }}
				</p>
				<p>
					{{ form.password.label_tag }}:
					{{ form.password }}
				</p>
				<div style="float: right;">
					<input type="submit" value="Log In" class="btn primary" />
					<p>
						<a href="{% url app.views.register %}" style="margin-top: 6px; float: right;">Register</a>
					</p>
				</div>
	
				<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
